<div class="row">

    <div class="text-left col-sm-12 col-md-6 col-lg-3 col-xl-3 no-space" style="padding: 0px 10px;">
        <div class="thumbnail">
            <div class="text-center" style="font-size:36pt;">
                <a class="blackLink" href="/topics"><i class="far fa-list-alt"></i></a>
            </div>
            <div class="caption " style="padding:20px;">
                <h5 class="post-caption text-center text-primary">
                    Теми
                </h5>
                <p style="font-size:14px;">
                    Перейти до повного переліку тем.<a href="/topics"><i
                        class="fas fa-angle-double-right"></i></a><br><br>
                </p>

            </div>
        </div>
    </div>

    <div class="text-left col-sm-12 col-md-6 col-lg-3 col-xl-3 no-space" style="padding: 0px 10px;">
        <div class="thumbnail">
            <div class="text-center" style="font-size:36pt;">
                <a class="blackLink" href="/profile"><i class="fas fa-user-edit"></i></a>
            </div>
            <div class="caption" style="padding:20px;">
                <h5 class="post-caption text-center text-primary">
                    Профіль
                </h5>
                <p style="font-size:14px;">
                    Перейти до профілю користувача.<a href="/profile">
                    <i class="fas fa-angle-double-right"></i></a><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="text-left col-sm-12 col-md-6 col-lg-3 col-xl-3 no-space" style="padding: 0px 10px;">
        <div class="thumbnail">
            <div class="text-center" style="font-size:36pt;">
                <a class="blackLink" href="/users"><i class="fas fa-users"></i></a>
            </div>
            <div class="caption" style="padding:20px;">
                <h5 class="post-caption text-center text-primary">
                    Користувачі
                </h5>
                <p style="font-size:14px;">
                    До списку користувачів (доступно лише Адмінам).<a href="/users">
                    <i class="fas fa-angle-double-right"></i></a><br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="text-left col-sm-12 col-md-6 col-lg-3 col-xl-3 no-space" style="padding: 0px 10px;">
        <div class="thumbnail">
            <div class="text-center" style="font-size:36pt;">
                <a class="blackLink" href="/about"><i class="far fa-copyright" aria-hidden="true"></i></a>
            </div>
            <div class="caption" style="padding:20px;">
                <h5 class="post-caption text-center text-primary">
                    Про проект
                </h5>
                <p style="font-size:14px;">
                    Інформація про проект.<a href="/about">
                    <i class="fas fa-angle-double-right"></i></a><br><br>
                </p>
            </div>
        </div>
    </div>

</div>
<h4 class="text-center">Свіжачок:</h4>
<div class="card-deck-wrapper">
    <div class="card-deck " data-ng-controller="RecentTopicsController">
        <div class="card marginTop col-lg-12" style="width: 18rem;"
             ng-repeat="topic in recentTopicsList | orderBy : topic.topicId">
            <div class="card-body">
                <h5 class="card-title text-primary">{{topic.topicName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted microText">
                    <p>Створено: {{topic.createDate | date}}<br>
                        Редаговано: {{topic.updateDate | date}}</p>
                </h6>
                <p class="card-text">{{topic.message[0].text | limitTo:10}}...</p>
                <a href="/topics/topic/{{topic.topicId}}" class="card-linkalign-content-end">Перейти...</a>
                <!--<a href="#" class="card-link align-content-end">Другая ссылка</a>-->
            </div>
        </div>

        <!--<div class="white-background" style="padding:15px;">-->
        <!--<table class="table table-hover table-condensed">-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th>#</th>-->
        <!--<th>Name</th>-->
        <!--<th>Actions</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="user in users" ng-class="(user.id == currentUser.id) ? 'warning' : ''">-->
        <!--<td>{{user.id}}</td>-->
        <!--<td width="80%">{{user.userName}}</td>-->
        <!--<td  width="5%" style="text-align:center;">-->
        <!--<a class="btn btn-xs btn-success" ng-click="selectDeveloper(user)"><i class="fa fa-pencil-square-o "></i></a>-->
        <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
    </div>
</div>


<!--<div id="formContainer" class="">-->
<!--<div id="openid-buttons" class="">-->
<!--<div class="major-provider    google-login" data-provider="google" data-oauthserver="https://accounts.google.com/o/oauth2/auth" data-oauthversion="2.0">-->
<!--<svg aria-hidden="true" class="svg-icon native iconGoogle" width="18" height="18" viewBox="0 0 18 18"><g><path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 0 0 2.38-5.88c0-.57-.05-.66-.15-1.18z" fill="#4285F4"></path><path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 0 1-7.18-2.54H1.83v2.07A8 8 0 0 0 8.98 17z" fill="#34A853"></path><path d="M4.5 10.52a4.8 4.8 0 0 1 0-3.04V5.41H1.83a8 8 0 0 0 0 7.18l2.67-2.07z" fill="#FBBC05"></path><path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 0 0 1.83 5.4L4.5 7.49a4.77 4.77 0 0 1 4.48-3.3z" fill="#EA4335"></path></g></svg>                Google-->
<!--</div>-->
<!--<div class="major-provider    facebook-login" data-provider="facebook" data-oauthserver="https://www.facebook.com/v2.0/dialog/oauth" data-oauthversion="2.0">-->
<!--<svg aria-hidden="true" class="svg-icon iconFacebook" width="18" height="18" viewBox="0 0 18 18"><path d="M1.88 1C1.4 1 1 1.4 1 1.88v14.24c0 .48.4.88.88.88h7.67v-6.2H7.46V8.4h2.09V6.61c0-2.07 1.26-3.2 3.1-3.2.88 0 1.64.07 1.87.1v2.16h-1.29c-1 0-1.19.48-1.19 1.18V8.4h2.39l-.31 2.42h-2.08V17h4.08c.48 0 .88-.4.88-.88V1.88c0-.48-.4-.88-.88-.88H1.88z" fill="#3C5A96"></path></svg>                Facebook-->
<!--</div>-->
<!--</div>-->

<!--<div class="or-container">-->
<!--<hr class="or-hr">-->
<!--<div id="oro">or</div>-->
<!--</div>-->

<!--<form id="login-form" action="/users/login?ssrc=head&amp;returnurl=https%3a%2f%2fstackoverflow.com%2fquestions%2f31614786%2fspring-security-authentication-through-custom-login-with-angularjs" method="POST">-->
<!--<input type="hidden" name="fkey" value="60f1b527d3647d4bf5a67df800cc598b01df0649e9b87cc9d469e455c8966a35">-->
<!--<div id="se-login-fields">-->
<!--<input type="hidden" name="ssrc" value="head">-->


<!--<label for="email">Email</label><br>-->
<!--<input type="email" name="email" id="email" size="30" maxlength="100" placeholder="you@example.org"><br>-->
<!--<label for="password">Password</label><br>-->
<!--<input type="password" name="password" id="password" autocomplete="off" placeholder="********"><br>-->
<!--<a id="forgot-pw" class="fr" href="/users/account-recovery">forgot?</a>-->
<!--<br class="cbt">-->
<!--<a id="more-options-link">more login options</a>-->
<!--<input class="fr" type="button" id="submit-button" name="submit-button" value="Log in">-->
<!--</div>-->

<!--<div id="openid_form">-->
<!--<input type="hidden" id="oauth_version" name="oauth_version">-->
<!--<input type="hidden" id="oauth_server" name="oauth_server">-->
<!--<div id="show-more-options">-->
<!--<div class="or-container">-->
<!--<hr class="or-hr">-->
<!--<div id="or">or</div>-->
<!--</div>-->

<!--<div id="more-options-container">-->
<!--<div id="more-openid-options">-->
<!--<a title="Log in with Yahoo" href="javascript:auth.signin($('#more-openid-options a.yahoo'));" data-provider="yahoo" data-url="https://me.yahoo.com/" style="background-position: -27px -300px" class="yahoo openid_small_btn"></a>-->
<!--<a title="Log in with LiveJournal" href="javascript:auth.signin($('#more-openid-options a.livejournal'));" data-provider="livejournal" data-label="Enter your LiveJournal username" data-url="http://{username}.livejournal.com/" style="background-position: -1px -352px" class="livejournal openid_small_btn"></a>-->
<!--<a title="Log in with Blogger" href="javascript:auth.signin($('#more-openid-options a.blogger'));" data-provider="blogger" data-label="Enter your Blogger username" data-url="https://{username}.blogspot.com/" style="background-position: -1px -249px" class="blogger openid_small_btn"></a>-->
<!--<a title="Log in with AOL" href="javascript:auth.signin($('#more-openid-options a.aol'));" data-provider="aol" data-label="Enter your AOL username" data-url="https://openid.aol.com/{username}" style="background-position: -27px -249px" class="aol openid_small_btn"></a>-->
<!--</div>-->
<!--<div id="simple-openid-selector">-->
<!--<div id="openid_input_area">-->
<!--<p id="openid_provider_label"></p>-->
<!--<input id="openid_username" type="text" name="openid_username" value="">-->
<!--</div>-->
<!--<div id="openid-url-input-area">-->
<!--<noscript>-->
<!--<p class="noscript-notice">Because JavaScript is disabled, you can only log in by entering your OpenID URL manually:</p>-->
<!--</noscript>-->
<!--<label for="openid_identifier">OpenID</label>-->
<!--<input id="openid_identifier" name="openid_identifier" placeholder="Or, you can manually enter your OpenID" class="openid-identifier" type="text">-->
<!--</div>-->
<!--<input id="openid_submit" type="submit" value="Log in" class="fr">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->